.logo img{
    width: 150px;
}
.logo{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 15px;
}
.login {
    margin-top: 20px;
    border: 1px solid rgb(182, 177, 170);
    width: 350px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
   

}
.email {
    font-weight:bold;
    
}
.login input{
    width: 88%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(182, 177, 170);

}
.last{
    text-align: center;
    color: rgb(111, 105, 96);
    font-weight: 100;
}
a{
    color: rgb(39, 79, 188);
}
.button {
    padding: 8px 90px;
   
   background: #fff;
   border: 1px solid rgb(182, 177, 170);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

