# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Django specific
db.sqlite3
*.log

# Environment variables
.env

# Virtual environments
venv/
ven1/

# Static and media files
/staticfiles/
/media/

# IDE-specific files
.vscode/
.idea/

# Node modules (if applicable)
node_modules/
